﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Home.aspx.cs" Inherits="Trabalho002.Home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<div>
        <h1 class="titulo" id="Titulo1">BEM VINDO AO NOSSO SITE DE RETALHOS</h1>
    <h3>Se ainda não tem conta crie uma <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Registo.aspx">AQUI! </asp:HyperLink></h3>
    <h3>Se já tem uma conta efetue <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Login.aspx">Login</asp:HyperLink> </h3>
    </div>
</asp:Content>
